{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
	{% if sent %}
		<h2 class="article-title">E-mail successfully sent</h2>
		<p>
			"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
		</p>
	{% else %}
		<h2 class="article-title">Share "{{ post.title }}" by e-mail</h2>
		<form method="post">
			{% csrf_token %}
			 <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
					{{ form|crispy }}		
				<div class="form-group">
					<input type="submit" value="Send e-mail">
				</div>
		</form>
	{% endif %}
</div>	
{% endblock content %}